@charset "utf-8";

body {
    background-color: #fff;
    box-sizing:border-box;
    margin:0; outline:0   
}


#navi {
    width:100%; 
    display: flex; flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    
    background-color: #fff;
    border-bottom:1px solid #ccc;
    
    position: fixed;
}

#logo {
    margin:20px;
    cursor: pointer;  
}

#logo>a {
    text-decoration: none;
    color:black;
}


#menu {
    display: flex; flex-wrap: wrap;
    padding:0;
    margin:20px;
    
    list-style: none;
}

#menu .list {
    margin-right: 30px;
    cursor: pointer; 
}


#rightbox {
    margin-left: auto;
    display: flex;
}

#find {
    margin:10px;
    font-size: 2rem;
    cursor: pointer;
}

#menulist {
    margin:10px;
    font-size: 2rem;
    cursor: pointer;
}


/*--------------- left ---------------*/

#outBox {
    width:100%;
    padding-top:60px;
    margin: auto;
    display: flex; flex-wrap: wrap;   
    background:#eee;
}


#left {
    width:30%; 
    padding:40px 10px;
    margin-left:40px;
}


/*--------------- sec1 ---------------*/
#left #sec1 {
    width:100%;
    height: auto;
}

#sec1title {
    text-align: center;
}

#sec1 p {
    line-height: 2.5rem;
    text-align:justify;
}

.border { 
    border:1px solid #ccc;
    margin:30px 0;
}


/*--------------- sec2 ---------------*/
#left #sec2 {
    width:100%;
    height: 650px;
}

#outbox2 {
    width:100%;
    height:300px;
}

.inbox2 {
    width:100%;
    height:200px;
    
}

.inbox2>img {
    width:100%;
    height:100%;
    display: block;
}

.text2 {
    width:100%;
    height: 80px;
    background:#FFF;
    text-align: center;
}

.text2>h3 { margin-top:0; }

#left #outbox2-2 {
    width:100%;
    height:300px;
}


/*--------------- sec3 ---------------*/
#left #sec3 {
    width:100%;
    height:400px;
    display: flex; flex-wrap: wrap;
    
    background:yellow;
}

#inbox3-1 {
    width:100%;
    height:150px;
    display: flex; flex-wrap: wrap;
    
    background:blue;
}

.imgbox3 {
    width:100px;
    height:100px;
    margin:
    
    border: 1px solid #FFF;
}

.imgbox3>img {
    width:100%;
    height: 100%;
}

.text3 {
    width:
}


#inbox3-2 {
    width:100%;
    height:150px;
    display: flex; flex-wrap: wrap;
    

    background:red;
}


/*--------------- right ---------------*/
#right {
    width:60%; 
    padding:40px 20px;
}

#sec5 {
    width:100%;
    height: 1000px;
    background:#FFF;
}

#outbox5 {
    width:100%;
    height:180px;
    display: flex; flex-wrap: wrap;
}

#text5 {
    width:70%;
    height: 100%;
    border:1px solid #ccc;
    text-align: center;
}

#text5>h2 {
    margin-top:50px;
}

#text5-2 {
    width:30%;
    height: 100%;
    border:1px solid #ccc;
    border-left: none;
    text-align: center;
}

#text5-2>h3 {
    margin-top:50px;
}

#inbox5 {
    width:100%;
    height:700px;
    border:1px solid #ccc;
    border-top:none; 
    text-align: center;
    padding-top: 40px;
    display: flex; flex-wrap: wrap;
}

#inbox5>img {
    width:90%;
    height: 400px;
    margin: auto;
}

#inbox5>p {
    width:90%;
    height: 100px;
    text-align: justify;
    margin: auto;
}

#button5 {
    cursor: pointer;
}









@media screen and (max-width:500px) {
    
    
        
        
    #outbox {
        padding-top:60px;
        width:100%;
    }
    
    #left { width:100% }
    
    #right { width:100% }
    
    #text5 { width:100% }
    
    #text5-2 { width:100% }
    
    #sec5inbox { width:100% }
    
    #sec5inbox>img { width:100% }
    
    
    
}










